@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
}

body {
  gap: 25px;
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.header {
  background: #FFFFFF;width: 1160px;
  height: 110px;
  padding: 0 140px;
}

.header_1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 0
}

.header_logo {
  width: 1160px;
  height: 26px;
  margin-top: 30.18px;
  /* margin-left: 140.52px; */
}

.header_logo-content {
  width: 212.34px;
  height: 63.24px;
}

.header_nav {
  margin-top: 50px;
  margin-right: 17.5px;
}

.header_nav-ul {
  list-style: none;
  display: inline-flex;
  align-items: center;
  gap: 24px;
}

.header_nav-link {
  text-decoration: none;
  color: #000000;
  display: inline;
  text-wrap: nowrap;
  margin: auto;
  color: #000;
  font-family: Anonymous Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.rectangle {
  display: flex;
  flex-shrink: 0;
  width: 1440px;
  height: 1px;
  background: var(--text_gray, #A1A6B4);
  gap: 0
}

.main {
  width: 1161px;
  height: 1340px;
}

.main_txt {
  max-width: 767px;
  color: var(--black, #121723);
  font-family: "Anonymous Pro", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.content_sneakers {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: 24px 0 0;
  row-gap: 24px;
  column-gap: 30px;
  justify-content: center
}

.sneaker {
  background-color: #FFFFFF;
  border-radius: 12px;
  border: 0px solid var(--text_gray, #A1A6B4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 371px;
}

.sneaker_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 32px 24px;
  border-radius: 0px 0px 12px 12px;
  background: var(--white, #FFF);
}

.sneaker_h2 {
  width: 323px;
  color: var(--black, #121723);
  font-family: "Anonymous Pro", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.sneaker_p {
  align-self: stretch;
  color: var(--black, #121723);
  font-family: "Anonymous Pro", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

h1 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 56px;
  margin: 0;
}

.footer {
  background: var(--black, #121723);
  width: 1160px;
  height: 142px;
  display: block;
  padding: 0 140px;
}

.footer_1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.footer_logo {
  width: 299.653px;
  height: 22.32px;
  flex-shrink: 0;
  margin-top: 32px;
  justify-content: space-between;
}

.footer_logo-content {
  width: 299.653px;
  height: 22.32px;
  flex-shrink: 0;
}

.footer_nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.footer_nav-ul {
  list-style: none;
  display: inline-flex;
  align-items: center;
  gap: 24px;
  font-family: "Anonymous Pro", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 33.16px;

}

.footer_nav-link {
  text-decoration: none;
  color: var(--white, #FFF);
  height: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.line {
  width: 1160px;
  height: 1px;
  background: rgba(230, 232, 236, 0.40);
  margin-top: 32.68px;
}

.footer_text {
  color: var(--text_gray, #A1A6B4);
  font-family: "Anonymous Pro", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

img {
  width: 370px;
}